<ng-container *ngIf="this.signUpWizardStep === 0">
    <app-signup-phase-one (wizardStepEmitter)="onWizardStepEmitter($event)"></app-signup-phase-one>
</ng-container>
<ng-container *ngIf="this.signUpWizardStep === 1">
    <app-signup-phase-two></app-signup-phase-two>
</ng-container>
<ng-container *ngIf="this.signUpWizardStep === 2">
    <app-signup-phase-three></app-signup-phase-three>
</ng-container>
<ng-container *ngIf="this.signUpWizardStep === 3">
    <app-signup-phase-four></app-signup-phase-four>
</ng-container>