<div class="d-flex justify-content-center" #progressBarEle>
    <progress-bar [inputConfig]="stepProgressData" [stepValue]="stepProgressData.currentStep"
        [isProcessFailed]="stepProgressData.isProcessFailed" [progressMove]="stepProgressData.progressMove">
    </progress-bar>
</div>

<ng-container *ngIf="this.signUpWizardStep === 1">
    <app-signup-phase-one (wizardStepEmitter)="onWizardStepEmitter($event)"></app-signup-phase-one>
</ng-container>
<ng-container *ngIf="this.signUpWizardStep === 2">
    <app-signup-phase-two (wizardStepEmitter)="onWizardStepEmitter($event)"></app-signup-phase-two>
</ng-container>
<ng-container *ngIf="this.signUpWizardStep === 3">
    <app-signup-phase-three (wizardStepEmitter)="onWizardStepEmitter($event)"></app-signup-phase-three>
</ng-container>
<ng-container *ngIf="this.signUpWizardStep === 4">
    <app-signup-phase-four (wizardStepEmitter)="onWizardStepEmitter($event)"></app-signup-phase-four>
</ng-container>
<ng-container *ngIf="showRegistraionResponse">
    <registration-response></registration-response>
</ng-container>