<user-auth-wizard>
    <ng-container>
        <div class="wizard-title">Forgot Password</div>
        <div class="wizard-content">
            <p>Enter your registered email address and we will send you are set link.</p>
            <div class="vms-form__group field">
                <input type="input" class="form__field" [(ngModel)]="this.emailId" placeholder="Email ID"
                    name="email id" id='email-id' required />
                <label for="name" class="form__label">Email ID</label>
            </div>
        </div>
        <div class="wizard-action">
            <button class="vms-btn-primary" (click)="onSubmit(responseTemplate)">Submit</button>
        </div>
    </ng-container>
</user-auth-wizard>

<!-- API callback-->
<ng-template #responseTemplate>
    <div class="wizard-prompt" theme>
        <div class="wizard-img d-block">
            <span class="material-icons-round">check_circle</span>
        </div>
        <div class="wizard-content">
            <p style="font-size: 20px;margin-bottom: 14px;">The link to reset password has been sent to
                <b>{{this.emailId}}</b>
            </p>
            <p>If you have not recieved an email please check your junk mailbox and rejected list</p>
        </div>
        <div class="wizard-action d-flex justify-content-center">
            <div>
                <button class="vms-btn-primary" (click)="redirectToLogin()">Return to Login</button>
            </div>
            <!-- <div>
                <a>Resend</a>
            </div> -->
        </div>
    </div>
</ng-template>