@import "app-colors";
@import "app-mixins";

.wizard-prompt {
    text-align: center;
    padding: 20px;
    .wizard-title {
        font-size: 20px;
        font-weight: 600;
        color: $vms-primary;
        margin-bottom: 16px;
    }
    .wizard-content {
        @include flexbox;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
        p {
            text-align: center;
        }
        .vms-form__group {
            width: 70%;
            margin-bottom: 1.25rem;
        }
    }
    .wizard-title {
        text-align: center;
        flex: 1 1 100%;
    }
    .wizard-img {
        span {
            font-size: 38px;
            color: $vms-green;
        }
    }
}
