<user-auth-wizard>
    <ng-container>
        <div class="wizard-title">Forgot Password</div>
        <div class="wizard-content">
            <p>Enter your registered email addressand wewill send you areset link.</p>
            <div class="vms-form__group field">
                <input type="input" class="form__field" [(ngModel)]="this.emailId" placeholder="Email ID"
                    name="email id" id='email-id' required />
                <label for="name" class="form__label">Email ID</label>
            </div>
        </div>
        <div class="wizard-action">
            <button class="vms-btn-primary">Continue</button>
        </div>
    </ng-container>
</user-auth-wizard>