/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@import "./font-awesome-4.7.0/scss/font-awesome.scss";

@import "~material-icons/iconfont/material-icons.scss";

@font-face {
  font-family: Poppins-Regular;
  src: url("./poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("./poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("./poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("./montserrat/Montserrat-Bold.ttf");
}
