<app-app-navbar></app-app-navbar>
  <!-- <div class="nav-left visible-xs">
    <div class="buttonside"   >
      <div class="barr top"></div>
      <div class="barr middle"></div>
      <div class="barr bottom"></div>
    </div>
  </div>
  <main>
    <nav> 
     
     </nav>
 </main>
  <div class="appbar" id="navbar" >
    <ul class="appbar-list">
      <li class="appbar-item act"><a href="#" class="appbar-anchor">Home</a></li>
      <li class="appbar-item act"><a href="#" class="appbar-anchor">About Us</a></li>
      <li class="appbar-item act"><a href="#" class="appbar-anchor">Services</a></li>
      <li class="appbar-item act"><a href="#" class="appbar-anchor">Contact Us</a></li>
    </ul>
  </div>
  -->

<!-- (click)="openMenu(!show)" -->