@import "app-colors";

.Toggle.sidebar {
  background: #2e353d;
  position: absolute;
  top: 0px;
  left: 100%;
  height: 45px;
  width: 45px;
}

.sidebar {
  color: $vms-white;
  font-size: 1.25rem;
}

@media (min-width: 978px) {
  .Toggle.sidebar {
    display: none;
  }
}
