<user-auth-wizard>
    <ng-container>
        <div class="wizard-title">Verification Success</div>
        <div class="wizard-img d-block">
            <!-- <span class="material-icons-round">check_circle</span> -->
        </div>
        <div class="wizard-content">
            <p>Your email address was successfully verified!. Please click on the following link to
                continue with the registartion
            </p>
        </div>
        <div class="wizard-action">
            <button class="vms-btn-primary" (click)="navigateToSignUp()">Continue</button>
        </div>
    </ng-container>
</user-auth-wizard>