<div class="response-container my-5">
    <user-auth-wizard>
        <ng-container>
            <div class="wizard-title">Success</div>
            <div class="wizard-img d-block row">
                <!-- <span class="material-icons-round">check_circle</span> -->
            </div>
            <div class="wizard-content row">
                <div class="col-12">
                    <p>Thank you for signin up with VMS Direct.</p>
                </div>
                <div class="col-12">
                    <p>You will receive a confirmation email shortly</p>
                </div>
            </div>
        </ng-container>
    </user-auth-wizard>
</div>