<div class="response-container">
    <user-auth-wizard>
        <ng-container>
            <div class="wizard-title">Success</div>
            <div class="wizard-img d-block">
                <span class="material-icons-round">check_circle</span>
            </div>
            <div class="wizard-content">
                <p>Thank you for signin up with VMS Direct.</p>
                <p>You will receive a confirmation email shortly</p>
            </div>
        </ng-container>
    </user-auth-wizard>
</div>