@import "../sign-up.component.scss";
@import "app-colors";

.upload-input {
  position: relative;
  input {
    display: block;
    width: 115px;
    z-index: 1;
    position: absolute;
    opacity: 0;
    height: 38px;
    cursor: pointer;
  }
  button {
    position: relative;
    top: -2px;
    left: -2px;
    cursor: pointer;
  }
}

.signature-pad {
  border: 1px solid $vms-grey-900;
  width: 300px;
  ::ng-deep signature-pad {
    height: inherit;
    width: 300px;
  }
}

.vms-btn-primary {
  padding-left: 3.1rem;
  padding-right: 3.1rem;
}
