<div class="container">
    <div class="vms-signup-container row" theme>
        <div class="col-12 vms-signup-container__title d-flex justify-content-center">
            <p>Additional Information</p>
        </div>
        <form class="col-12 vms-signup-container__form" [formGroup]="skillPhaseFourForm">
            <div class="row ">
                <div class="col-12 col-md-6 vms-form__group field">
                    <input type="text" class="form__field" placeholder="NIACSCode" name="NIACSCode" id='NIACSCode'
                        formControlName="NIACSCode" autocomplete="off"
                        [ngClass]="{ 'is-invalid': submitted && form.NIACSCode.errors }" required numbersOnly />
                    <label for="NIACSCode" class="form__label">NIACS Code</label>
                    <div *ngIf="submitted && form.NIACSCode.errors" class="invalid-feedback">
                        <div *ngIf="form.NIACSCode.errors.required">NIACS Code is required</div>
                    </div>
                </div>
                <div class="col-12 col-md-6 vms-form__group field">
                    <input type="text" class="form__field" placeholder="DnbRating" name="DnbRating" id='DnbRating'
                        formControlName="DnbRating" autocomplete="off"
                        [ngClass]="{ 'is-invalid': submitted && form.DnbRating.errors }" numbersOnly />
                    <label for="DnbRating" class="form__label">DnB Rating</label>
                    <div *ngIf="submitted && form.DnbRating.errors" class="invalid-feedback">
                        <div *ngIf="form.DnbRating.errors.required">DnbRating is required</div>
                    </div>
                </div>
            </div>

            <div class="col-12 vms-signup-container__categoryHead">
                <p>Please submit a copy of the following documents</p>
            </div>
            <div class="col-12 m-t-20">
                <div class="row">
                    <div class="col-12 pl-3 upload-input">
                        <label>W9 Form</label>
                        <input type="file" autocomplete="off"
                            [ngClass]="{ 'is-invalid': submitted && form.WForm.errors }"
                            (change)="handleFileInput($event, 'WForm')">
                        <button class="vms-btn-primary">Upload</button>
                        <p *ngIf="formFileNames.WForm">{{formFileNames.WForm}}</p>
                        <div *ngIf="submitted && form.WForm.errors" class="invalid-feedback">
                            <div *ngIf="form.WForm.errors.required">W9 Form is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 m-t-20">
                <div class="row">
                    <div class="col-12 pl-3 upload-input">
                        <label>Articles of incorporation</label>
                        <input type="file" autocomplete="off" (change)="handleFileInput($event, 'Articles')"
                            [ngClass]="{ 'is-invalid': submitted && form.Articles.errors } ">
                        <button class="vms-btn-primary">Upload</button>
                        <p *ngIf="formFileNames.Articles">{{formFileNames.Articles}}</p>
                        <div *ngIf="submitted && form.Articles.errors" class="invalid-feedback">
                            <div *ngIf="form.Articles.errors.required">Articles of incorporation is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 m-t-20">
                <div class="row">
                    <div class="col-12 pl-3 upload-input">
                        <label>Certificate of good standing</label>
                        <input type="file" autocomplete="off" (change)="handleFileInput($event, 'Certificate')"
                            [ngClass]="{ 'is-invalid': submitted && form.Certificate.errors }">
                        <button class="vms-btn-primary">Upload</button>
                        <p *ngIf="formFileNames.Certificate">{{formFileNames.Certificate}}</p>
                        <div *ngIf="submitted && form.Certificate.errors" class="invalid-feedback">
                            <div *ngIf="form.Certificate.errors.required">Certificate of good standing is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 m-t-20">
                <div class="row">
                    <div class="col-12 pl-3 upload-input">
                        <label>Last three Quaters of 941</label>
                        <input type="file" autocomplete="off" (change)="handleFileInput($event, 'Quaters')"
                            [ngClass]="{ 'is-invalid': submitted && form.Quaters.errors }">
                        <button class="vms-btn-primary">Upload</button>
                        <p *ngIf="formFileNames.Quaters">{{formFileNames.Quaters}}</p>
                        <div *ngIf="submitted && form.Quaters.errors" class="invalid-feedback">
                            <div *ngIf="form.Quaters.errors.required">Last three Quaters of 941 is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 m-t-20">
                <div class="col-12 upload-input ">
                    <label>If you are unable to provide last three quater of 941, please provide your Reasons
                        below</label>
                    <textarea class="form-control" rows="3" name="Reason" id='Reason' formControlName="Reason"
                        autocomplete="off" [ngClass]="{ 'is-invalid': submitted && form.Reason.errors }"></textarea>
                    <div *ngIf="submitted && form.Reason.errors" class="invalid-feedback">
                        <div *ngIf="form.Reason.errors.required">Reason is required</div>
                    </div>
                </div>
            </div>
            <div class="col-12 vms-signup-container__categoryHead">
                <p>Authorized company representative</p>
            </div>
            <div class="col-12">
                <div class="row ">
                    <div class="col-12 col-md-6 vms-form__group field">
                        <input type="text" class="form__field" placeholder="NIACSCode" name="Name" id='Name'
                            formControlName="Name" autocomplete="off"
                            [ngClass]="{ 'is-invalid': submitted && form.Name.errors }" required />
                        <label for="Name" class="form__label">Name</label>
                        <div *ngIf="submitted && form.Name.errors" class="invalid-feedback">
                            <div *ngIf="form.Name.errors.required">Name is required</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 vms-form__group field">
                        <input type="text" class="form__field" placeholder="DnbRating" formControlName="Title"
                            autocomplete="off" [ngClass]="{ 'is-invalid': submitted && form.Title.errors }" name="Title"
                            id='Title' />
                        <label for="Title" class="form__label">Title</label>
                        <div *ngIf="submitted && form.Title.errors" class="invalid-feedback">
                            <div *ngIf="form.Title.errors.required">Reason is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 vms-signup-container__categoryHead">
                <p>Authorized company representative</p>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6 ml-2">
                        <div class="signature-pad">
                            <signature-pad [options]="signaturePadOptions" (onEndEvent)="drawComplete()">
                            </signature-pad>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 m-t-20 pl-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Agree" value="Agree" formControlName="Agree"
                        [ngClass]="{ 'is-invalid': submitted && form.Agree.errors }">
                    <label class="form-check-label" for="Agree">I hereby declare that all information furnished above
                        are true and correct to the best of my
                        knowledge. I
                        understand that any false information given may at iVMS discretion, render this application
                        invalid
                        and
                        reserve the rights to reject my application</label>
                    <div *ngIf="submitted && form.Agree.errors" class="invalid-feedback">Accept Declaration
                        is required
                    </div>
                </div>
            </div>
        </form>
        <div class="col-12 vms-signup-container__actions">
            <div class="row justify-content-center">
                <button class="col-12 col-sm-5  vms-btn-primary-outline mr-md-4" (click)="navigateBack()">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    Previous
                </button>
                <button class="col-12 col-sm-5  vms-btn-primary" (click)="onSubmit()">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>