<div class="container d-flex justify-content-center my-5">
    <div class="row verification-response justify-content-center response-container">
        <div class="icon my-3">
            <span class="material-icons-round">check_circle</span>
        </div>
        <div class="col-12 d-flex justify-content-center my-3">
            <p>Your email address was successfully added</p>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button class="vms-btn-primary">Continue Sign Up ></button>
        </div>
    </div>
</div>

<!-- <div class="container d-flex justify-content-center my-5">
    <div class="row verification-response justify-content-center response-container">
        <div class="icon--failed my-3">
            <span class="fa fa-frown-o"></span>
        </div>
        <div class="col-12 d-flex justify-content-center mt-3 mb-1">
            <p>Email verification failed</p>
        </div>
        <div class="col-12 d-flex justify-content-center mb-3">
            <p>The Verification link has expired</p>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button class="vms-btn-primary">Goto Sign up</button>
        </div>
    </div>
</div> -->