<div class="vms-signup-container row" theme>
    <div class="col-12 vms-signup-container__title d-flex justify-content-center">
        <p>Skill Source Registration</p>
    </div>
    <form class="col-12 vms-signup-container__form">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-4 col-lg-3 vms-form__group field">
                <input type="text" name="stateOfIncorporation" id="" class="form__field"
                    placeholder="State of Incorporation" aria-describedby="helpId">
                <label for="stateOfIncorporation" class="form__label">State of Incorporation</label>
            </div>
            <div class="col-12 col-md-4 col-lg-3 vms-form__group field">
                <input type="text" name="YearEstablished" id="" class="form__field" placeholder="Year Established"
                    aria-describedby="helpId">
                <label for="YearEstablished" class="form__label">Year Established</label>
            </div>
            <div class="col-12 col-md-4 col-lg-3 vms-form__group field">
                <select>
                    <option>Select industry</option>
                    <option>Industry 1</option>
                    <option>Industry 2</option>
                    <option>Industry 3</option>
                    <option>Industry 4</option>
                </select>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-4 col-lg-3 vms-form__group field">
                <input type="text" name="Division" id="" class="form__field"
                    placeholder="Division/Subsidary/Affiliate of" aria-describedby="helpId">
                <label for="Division" class="form__label">Division/Subsidary/Affiliate of</label>
            </div>
            <div class="col-12 col-md-4 col-lg-3 vms-form__group field">
                <input type="text" name="PayrollCompany" id="" class="form__field" placeholder="PayrollCompany"
                    aria-describedby="helpId">
                <label for="PayrollCompany" class="form__label">Payroll company</label>
            </div>
            <div class="col-12 col-md-4 col-lg-3 vms-form__group field">
                <input type="text" name="AreaofSpecialization" id="" class="form__field"
                    placeholder="Area of Specialization" aria-describedby="helpId">
                <label for="AreaofSpecialization" class="form__label">Area of Specialization</label>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-4 col-lg-3 vms-form__group field">
                <input type="text" name="TotalEmployees" id="" class="form__field" placeholder="Total # of employees"
                    aria-describedby="helpId">
                <label for="TotalEmployees" class="form__label">Total # of employees</label>
            </div>
            <div class="col-12 col-md-4 col-lg-3 vms-form__group field">
                <input type="text" name="TotalFullTimeEmployees" id="" class="form__field"
                    placeholder="Total # of full time Employees" aria-describedby="helpId">
                <label for="TotalFullTimeEmployees" class="form__label">Total # of full time Employees</label>
            </div>
            <div class="col-12 col-md-4 col-lg-3 vms-form__group field">
                <input type="text" name="TotalSubContractors" id="" class="form__field"
                    placeholder="Total # of sub contractors" aria-describedby="helpId">
                <label for="TotalSubContractors" class="form__label">Total # of sub contractors</label>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-4 col-lg-3 vms-form__group field">
                <input type="text" name="ProvideH1workers" id="" class="form__field" placeholder="Provide H1 workers"
                    aria-describedby="helpId">
                <label for="ProvideH1workers" class="form__label">Provide H1 workers</label>
            </div>
            <div class="col-12 col-md-4 col-lg-3 vms-form__group field">
                <input type="text" name="TotalH1BVisa" id="" class="form__field"
                    placeholder="Total # of H1B Visa currently held" aria-describedby="helpId">
                <label for="TotalH1BVisa" class="form__label">Total # of H1B Visa currently held</label>
            </div>
            <div class="col-12 col-md-4 col-lg-3 vms-form__group field">
                <input type="text" name="Website" id="" class="form__field" placeholder="Website"
                    aria-describedby="helpId">
                <label for="Website" class="form__label">Website</label>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-4 col-lg-3 vms-form__group field">
                <input type="text" name="USHeadQuarters" id="" class="form__field"
                    placeholder="Headquater address in US" aria-describedby="helpId">
                <label for="USHeadQuarters" class="form__label">Headquater address in US</label>
            </div>
            <div class="col-12 col-md-4 col-lg-3 vms-form__group field">
                <input type="text" name="TotalH1BVisa" id="" class="form__field" placeholder="Street Address"
                    aria-describedby="helpId">
                <label for="TotalH1BVisa" class="form__label">Street Address</label>
            </div>
            <div class="col-12 col-md-4 col-lg-3 vms-form__group field">
                <input type="text" name="Website" id="" class="form__field" placeholder="City"
                    aria-describedby="helpId">
                <label for="Website" class="form__label">City</label>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-4 col-lg-3 vms-form__group field">
                <input type="text" name="State" id="" class="form__field" placeholder="State/Province"
                    aria-describedby="helpId">
                <label for="State" class="form__label">State/Province</label>
            </div>
            <div class="col-12 col-md-4 col-lg-3 vms-form__group field">
                <input type="text" name="Country" id="" class="form__field" placeholder="Country"
                    aria-describedby="helpId">
                <label for="Country" class="form__label">Country</label>
            </div>
            <div class="col-12 col-md-4 col-lg-3 vms-form__group field">
                <input type="text" name="Zipcode" id="" class="form__field" placeholder="Zip/Postal code"
                    aria-describedby="helpId">
                <label for="Zipcode" class="form__label">Zip/Postal code</label>
            </div>
        </div>
        <div class="col-12 vms-signup-container__categoryHead d-flex justify-content-center">
            <p>Accounting Contact</p>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-4 col-lg-3 vms-form__group field">
                <input type="text" name="Name" id="" class="form__field" placeholder="Name" aria-describedby="helpId">
                <label for="Name" class="form__label">Name</label>
            </div>
            <div class="col-12 col-md-4 col-lg-3 vms-form__group field">
                <input type="text" name="Email" id="" class="form__field" placeholder="Email" aria-describedby="helpId">
                <label for="Email" class="form__label">Email</label>
            </div>
            <div class="col-12 col-md-4 col-lg-3 vms-form__group field">
                <input type="text" name="Email" id="" class="form__field" placeholder="Phone" aria-describedby="helpId">
                <label for="Phone" class="form__label">Phone</label>
            </div>
        </div>
        <div class="col-12 vms-signup-container__categoryHead d-flex justify-content-center">
            <p>Business Contact</p>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-4 col-lg-3 vms-form__group field">
                <input type="text" name="Name" id="" class="form__field" placeholder="Name" aria-describedby="helpId">
                <label for="Name" class="form__label">Name</label>
            </div>
            <div class="col-12 col-md-4 col-lg-3 vms-form__group field">
                <input type="text" name="Email" id="" class="form__field" placeholder="Email" aria-describedby="helpId">
                <label for="Email" class="form__label">Email</label>
            </div>
            <div class="col-12 col-md-4 col-lg-3 vms-form__group field">
                <input type="text" name="Email" id="" class="form__field" placeholder="Phone" aria-describedby="helpId">
                <label for="Phone" class="form__label">Phone</label>
            </div>
        </div>
    </form>
    <div class="col-12 vms-signup-container__actions">
        <button class="vms-btn-primary">
            Continue
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
    </div>
</div>