<div class="container">
    <div class="vms-signup-container row" theme>
        <div class="col-12 vms-signup-container__title d-flex justify-content-center">
            <p>Skill Source Registration</p>
        </div>
        <form class="col-12 vms-signup-container__form">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 vms-form__group field">
                    <input type="text" name="stateOfIncorporation" id="" class="form__field"
                        placeholder="State of Incorporation" aria-describedby="helpId" maxlength="30">
                    <label for="stateOfIncorporation" class="form__label">State of Incorporation</label>
                </div>
                <div class="col-12 col-md-6 col-lg-4 vms-form__group field date-field">
                    <input type="text" placeholder="Year Established" name="establishedYear" [(ngModel)]="modelDate"
                        class="form-control" [bsConfig]="bsConfig" class="form__field form-control" bsDatepicker>
                </div>
                <div class="col-12 col-md-6 col-lg-4 vms-form__group field drop-down">
                    <ng-multiselect-dropdown [placeholder]="'Select Industry'" name="industry"
                        [settings]="dropdownSettings" [data]="industryDropDownList" [(ngModel)]="industrySelectedItems"
                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown>
                </div>
                <div class="col-12 col-md-6 col-lg-4 vms-form__group field">
                    <input type="text" name="Division" id="" class="form__field" maxlength="30"
                        placeholder="Division/Subsidary/Affiliate of" aria-describedby="helpId">
                    <label for="Division" class="form__label">Division/Subsidary/Affiliate of</label>
                </div>
                <div class="col-12 col-md-6 col-lg-4 vms-form__group field">
                    <select class="dropdown">
                        <option>Select payroll</option>
                        <option>payroll 1</option>
                        <option>payroll 2</option>
                        <option>payroll 3</option>
                        <option>payroll 4</option>
                    </select>
                </div>
                <div class="col-12 col-md-6 col-lg-4 vms-form__group field drop-down">
                    <ng-multiselect-dropdown [placeholder]="'Area of Specialization'" name="industry"
                        [settings]="dropdownSettings" [data]="specializationDropDownList"
                        [(ngModel)]="areaOfSpecialization" (onSelect)="onItemSelect($event)"
                        (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown>
                </div>
                <div class="col-12 col-md-6 col-lg-4 vms-form__group field">
                    <input type="text" name="TotalEmployees" id="" class="form__field"
                        placeholder="Total # of employees" aria-describedby="helpId" numbersOnly maxlength="10">
                    <label for="TotalEmployees" class="form__label">Total # of employees</label>
                </div>
                <div class="col-12 col-md-6 col-lg-4 vms-form__group field">
                    <input type="text" name="TotalFullTimeEmployees" id="" class="form__field" maxlength="10"
                        placeholder="Total # of full time Employees" aria-describedby="helpId" numbersOnly>
                    <label for="TotalFullTimeEmployees" class="form__label">Total # of full time Employees</label>
                </div>
                <div class="col-12 col-md-6 col-lg-4 vms-form__group field">
                    <input type="text" name="TotalSubContractors" id="" class="form__field" maxlength="10"
                        placeholder="Total # of sub contractors" aria-describedby="helpId" numbersOnly>
                    <label for="TotalSubContractors" class="form__label">Total # of sub contractors</label>
                </div>
                <div class="col-12 col-md-6 col-lg-4 vms-form__group field">
                    <select class="dropdown">
                        <option>H1 Worker</option>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                </div>
                <div class="col-12 col-md-6 col-lg-4 vms-form__group field">
                    <input type="text" name="TotalH1BVisa" id="" class="form__field" maxlength="10"
                        placeholder="Total # of H1B Visa currently held" aria-describedby="helpId" numbersOnly>
                    <label for="TotalH1BVisa" class="form__label">Total # of H1B Visa currently held</label>
                </div>
                <div class="col-12 col-md-6 col-lg-4 vms-form__group field">
                    <input type="text" name="Website" id="" class="form__field" placeholder="Website"
                        aria-describedby="helpId">
                    <label for="Website" class="form__label">Website</label>
                </div>
                <div class="col-12 col-md-6 col-lg-4 vms-form__group field">
                    <input type="text" name="USHeadQuarters" id="" class="form__field"
                        placeholder="Headquater address in US" aria-describedby="helpId">
                    <label for="USHeadQuarters" class="form__label">Headquater address in US</label>
                </div>
                <div class="col-12 col-md-6 col-lg-4 vms-form__group field">
                    <input type="text" name="TotalH1BVisa" id="" class="form__field" placeholder="Street Address"
                        aria-describedby="helpId" maxlength="50">
                    <label for="TotalH1BVisa" class="form__label">Street Address</label>
                </div>
                <div class="col-12 col-md-6 col-lg-4 vms-form__group field">
                    <input type="text" name="Website" id="" class="form__field" placeholder="City"
                        aria-describedby="helpId" maxlength="30">
                    <label for="Website" class="form__label">City</label>
                </div>
                <div class="col-12 col-md-6 col-lg-4 vms-form__group field">
                    <input type="text" name="State" id="" class="form__field" placeholder="State/Province"
                        aria-describedby="helpId" maxlength="30">
                    <label for="State" class="form__label">State/Province</label>
                </div>
                <div class="col-12 col-md-6 col-lg-4 vms-form__group field">
                    <select class="dropdown">
                        <option>Select country</option>
                        <option>India</option>
                        <option>UK</option>
                        <option>Russia</option>
                        <option>Japan</option>
                        <option>Malasiya</option>
                        <option>Australia</option>
                        <option>New Zealand</option>
                        <option>Canada</option>
                        <option>Africa</option>
                        <option>Sri lanka</option>
                        <option>USA</option>
                    </select>
                </div>
                <div class="col-12 col-md-6 col-lg-4 vms-form__group field">
                    <input type="text" name="Zipcode" id="" class="form__field" placeholder="Zip/Postal code"
                        aria-describedby="helpId" [textMask]="maskTypes.ZipCode">
                    <label for="Zipcode" class="form__label">Zip/Postal code</label>
                </div>
            </div>
            <div class="col-12 vms-signup-container__categoryHead">
                <p>Accounting Contact</p>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 vms-form__group field">
                    <input type="text" name="Name" id="" class="form__field" placeholder="Name" maxlength="50"
                        aria-describedby="helpId">
                    <label for="Name" class="form__label">Name</label>
                </div>
                <div class="col-12 col-md-6 col-lg-4 vms-form__group field">
                    <input type="text" name="Email" id="" class="form__field" placeholder="Email"
                        aria-describedby="helpId">
                    <label for="Email" class="form__label">Email</label>
                </div>
                <div class="col-12 col-md-6 col-lg-4 vms-form__group field">
                    <input type="text" name="Email" id="" class="form__field" placeholder="Phone"
                        [textMask]="maskTypes.Phone" aria-describedby="helpId">
                    <label for="Phone" class="form__label">Phone</label>
                </div>
            </div>
            <div class="col-12 vms-signup-container__categoryHead">
                <p>Business Contact</p>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 vms-form__group field">
                    <input type="text" name="Name" id="" class="form__field" placeholder="Name" maxlength="50"
                        aria-describedby="helpId">
                    <label for="Name" class="form__label">Name</label>
                </div>
                <div class="col-12 col-md-6 col-lg-4 vms-form__group field">
                    <input type="text" name="Email" id="" class="form__field" placeholder="Email"
                        aria-describedby="helpId">
                    <label for="Email" class="form__label">Email</label>
                </div>
                <div class="col-12 col-md-6 col-lg-4 vms-form__group field">
                    <input type="text" name="Email" id="" class="form__field" placeholder="Phone"
                        [textMask]="maskTypes.Phone" aria-describedby="helpId">
                    <label for="Phone" class="form__label">Phone</label>
                </div>
            </div>
        </form>
        <div class="col-12 vms-signup-container__actions">
            <div class="row justify-content-center">
                <button class="col-12 col-sm-5 vms-btn-primary-outline mr-sm-4" (click)="navigateBack()">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    Previous
                </button>
                <button class="col-12 col-sm-5 vms-btn-primary" (click)="onContinue()">
                    Continue
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>