<div class="col-12 vms-signup-container__actions">
    <div class="row justify-content-center">
        <button class="col-12 col-sm-10" >
            <a class="vms-btn-primary" href="mailto:{{aemail}}?subject={{asubject}}&body={{acontent}}">Approve</a>
        </button>
    </div>
    <div class="row justify-content-center">
        <button class="col-12 col-sm-10" >
            <a class="vms-btn-primary" href="mailto:{{email}}?subject={{subject}}&body={{content}}">Reject</a>
        </button>
    </div>
    <div class="row justify-content-center">
        <button class="col-12 col-sm-10" >
            <a class="vms-btn-primary" href="mailto:{{reqemail}}?subject={{reqsubject}}&body={{reqcontent}}">Request</a>
        </button>
    </div>
    <div class="row justify-content-center">
        <button class="col-12 col-sm-10" >
            <a class="vms-btn-primary" href="mailto:{{revemail}}?subject={{revsubject}}&body={{revcontent}}">Receive</a>
        </button>
    </div>
</div>