@import "app-colors";

.password-container {
  padding: 50px 0;
  p.password-container__title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: $vms-primary;
    padding: 30px 0;
  }
  &__contrain {
    ul {
      li:not(:nth-child(1)) {
        list-style: disc;
        list-style-position: inside;
      }
      li:nth-child(1) {
        font-weight: 600;
        font-size: 1rem;
        margin-bottom: 4px;
      }
      li {
        font-size: 0.85rem;
      }
    }
  }
  .password-icon {
    position: absolute;
    right: 24px;
    top: 24px;
  }
}
