@import "app-colors";

.min-vh-100 {
  min-height: 100vh;
}

.nav-item {
  padding: 10px;
}

.nav-item a span {
  padding-left: 1rem;
}

.nav-item--active {
  color: $vms-primary;
  a {
    color: inherit;
    font-weight: 600;
  }
}

main {
  padding: 5rem 10rem;
  .content-title {
    font-size: 1.5rem;
    color: $vms-primary;
  }
}

.password-icon {
  position: absolute;
  right: 24px;
  top: 24px;
}

@media (max-width: 576px) {
  .min-vh-100 {
    min-height: 0 !important;
  }
}

@media (max-width: 768px) {
  main {
    padding: 4rem 3rem;
  }
}
