//app light theme colors
$vms-primary: var(--vms-primary);
$vms-secondary: var(--vms-secondary);
$vms-grey-900: var(--vms-grey-900);
$vms-grey-700: var(--vms-grey-700);
$vms-grey-300: var(
  --vms-grey-300
); //used as Dark theme primary (NOTE: Do Not use this code for other stylings except theme)
$vms-grey-200: var(--vms-grey-200);
$vms-black: var(--vms-black);
$vms-green: var(--vms-green);
$vms-aqua-green: var(--vms-aqua-green);
$vms-orange: var(--vms-orange);
$vms-red: var(--vms-red);
$vms-box-shadow-grey: var(--vms-box-shadow-grey);

//app-dark theme colors
$login-gradient: var(--vms-login-gradient);
