<div class="container">
    <div class="vms-signup-container row" theme>
        <div class="col-12 vms-signup-container__title d-flex justify-content-center">
            <p>Skill Source Sign Up</p>
        </div>
        <div class="col-12 vms-signup-container__subHead d-flex justify-content-center">
            <p>Enter the folllowing information to continue</p>
        </div>
        <form class="col-12 vms-signup-container__form" [formGroup]="skillPhaseoneForm">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-sm-8 col-md-9 col-lg-6 vms-form__group field">
                    <input type="text" class="form__field" placeholder="CompanyName" name="CompanyName" id='CompanyName'
                        formControlName="CompanyName" autocomplete="off"
                        [ngClass]="{ 'is-invalid': submitted && form.CompanyName.errors }" required />
                    <label for="CompanyName" class="form__label">Company Name</label>
                    <div *ngIf="submitted && form.CompanyName.errors" class="invalid-feedback">
                        <div *ngIf="form.CompanyName.errors.required">Company Name is required</div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-sm-8 col-md-9 col-lg-6 vms-form__group field">
                    <input type="text" class="form__field" placeholder="FedralTaxId" name="FedralTaxId" id='FedralTaxId'
                        [textMask]="maskTypes.TaxId" [maxLength]="maskTypes.TaxId.mask.length"
                        formControlName="FedralTaxId" autocomplete="off"
                        [ngClass]="{ 'is-invalid': submitted && form.FedralTaxId.errors }" required />
                    <label for="FedralTaxId" class="form__label">Fedral Tax ID</label>
                    <div *ngIf="submitted && form.FedralTaxId.errors" class="invalid-feedback">
                        <div *ngIf="form.FedralTaxId.errors.required">Fedral Tax Id is required</div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-sm-8 col-md-9 col-lg-6 vms-form__group field">
                    <input type="text" class="form__field" placeholder="PhoneNumber" name="PhoneNumber" id='PhoneNumber'
                        [textMask]="maskTypes.Phone" [maxLength]="maskTypes.Phone.mask.length"
                        formControlName="PhoneNumber" autocomplete="off"
                        [ngClass]="{ 'is-invalid': submitted && form.PhoneNumber.errors }" required />
                    <label for="PhoneNumber" class="form__label">Phone Number</label>
                    <div *ngIf="submitted && form.PhoneNumber.errors" class="invalid-feedback">
                        <div *ngIf="form.PhoneNumber.errors.required">Phone Number is required</div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-12 vms-signup-container__actions">
            <button class="vms-btn-primary" (click)="onContinue()">
                Continue
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>