@import "app-colors";
@import "app-mixins";
@import "../../../assets/styles/util.scss";

.vms-home {
    background: url("../../../assets/images/home-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    &:after {
        content: "";
        display: block;
        position: absolute;
        background: #292929;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.8;
        z-index: 0;
    }
    .vms-users-card {
        background: $vms-white;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        margin: 0 1rem;
        min-height: 350px;
        text-align: center;
        z-index: 2;
        box-shadow: 0px 0px 12px 4px #403939;
        position: relative;
        .user-title {
            text-align: center;
            padding: 0.5rem 0;
            color: $vms-primary;
            font-weight: 600;
            font-size: 1.25rem;
        }
        .user-desc {
            p {
                font-size: 0.9rem;
            }
        }
        a.read-link {
            padding: 0.55rem 1rem;
            background: $vms-primary;
            border-radius: 1.5rem;
            color: $vms-white;
            position: absolute;
            bottom: 2rem;
            left: 50%;
            transform: translateX(-50%);
            cursor: pointer;
        }
    }
}

.vms-users-details {
    margin-top: 10%;
    padding-bottom: 2%;
    .user-detail-card {
        margin-bottom: 10%;
        padding: 2rem;
        border: 4px solid $vms-grey-900;
    }
    .user-title {
        font-size: 1.25rem;
        color: $vms-primary;
        font-weight: 600;
        padding-bottom: 0.85rem;
    }
    .user-actions {
        display: flex;
        margin-top: 1rem;
        @include justify-content(space-between);
    }
}

@media (max-width: 320px) {
    .vms-home {
        .vms-users-card {
            min-height: 400px;
        }
    }
}

@media (min-width: 576px) {
    .vms-home {
        .vms-users-card {
            min-height: 300px;
        }
    }
}

@media (min-width: 764px) {
    .vms-home {
        .vms-users-card {
            min-height: 250px;
        }
    }
}

@media (min-width: 992px) {
    .vms-home {
        .vms-users-card {
            min-height: 400px;
        }
        .vms-cards {
            > div[class^="col-"] {
                margin-bottom: 20%;
                margin-top: 20%;
            }
        }
    }
    .vms-users-details {
        .user-actions {
            display: flex;
            margin-top: 0;
            @include justify-content(center);
        }
    }
}

@media (max-width: 991px) {
    .vms-home {
        .vms-cards {
            > div[class^="col-"] {
                margin-bottom: 10%;
                &:first-child {
                    margin-top: 10%;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .vms-home {
        .vms-users-card {
            min-height: 350px;
        }
    }
}
