<div class="vms-home">
    <div class="container">
        <div class="vms-users row">
            <div class="col-12 col-lg-4 z-index-2">
                <div class="vms-user__card">
                    <div class="user-title">
                        Project Owner
                    </div>
                    <div class="user-desc">
                        Project Owners are companies who own projects or are awarded projects for which they require
                        contingent workforce/
                        specialists with specialized skills to work on contingent or contract assignments. The team who
                        works on the
                        collaborative hiring process.
                    </div>
                    <a class="user-link" (click)="scrollToElement('about-po')">Read more</a>
                </div>
            </div>
            <div class="col-12 col-lg-4 z-index-2">
                <div class="vms-user__card">
                    <div class="user-title">
                        Skill source
                    </div>
                    <div class="user-desc">
                        Skill sources are bonafide legal entities registered in the United States who provide full time
                        or
                        part time W2
                        employees to Project owners for temporary job positions
                    </div>
                    <a class="user-link" (click)="scrollToElement('about-ss')">Read more</a>
                </div>
            </div>
            <div class="col-12 col-lg-4 z-index-2">
                <div class="vms-user__card">
                    <div class="user-title">
                        Specialist
                    </div>
                    <div class="user-desc">
                        Specialists are the Contingent workforce with specialized skills who are hired to work for
                        Project
                        owners on short term
                        assignments through their Employers/Skill sources.
                    </div>
                    <a class="user-link" (click)="scrollToElement('about-sp')">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vms-users-details row">
    <div class="container">
        <div class="user-detail-card" id="about-po">
            <div class="user-title">Project Owner</div>
            <div class="user-desc row">
                <div class="col-12 col-lg-8">
                    <p>
                        Project Owners are companies who own projects or are awarded projects for which
                        they require
                        contingent workforce/
                        specialists with specialized skills to work on contingent or contract assignments. The team who
                        works on the
                        collaborative hiring process.
                    </p>
                </div>
                <div class="col-5 col-lg-4">
                    <div class="d-flex justify-content-center">
                        <button class="vms-btn-primary">SignUp</button>
                        <button class="vms-btn-primary-outline ml-2">SignIn</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-detail-card" id="about-ss">
            <div class="user-title">Skill source</div>
            <div class="user-desc row">
                <div class="col-12 col-lg-8">
                    <p>
                        Skill sources are bonafide legal entities registered in the United States who
                        provide full time
                        or
                        part time W2
                        employees to Project owners for temporary job positions
                    </p>
                </div>
                <div class="col-5 col-lg-4">
                    <div class="d-flex justify-content-center">
                        <button class="vms-btn-primary">SignUp</button>
                        <button class="vms-btn-primary-outline ml-2">SignIn</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-detail-card" id="about-sp">
            <div class="user-title">Specialist</div>
            <div class="user-desc row">
                <div class="col-12 col-lg-8">
                    <p>
                        Specialists are the Contingent workforce with specialized skills who are hired to
                        work for
                        Project
                        owners on short term
                        assignments through their Employers/Skill sources
                    </p>
                </div>
                <div class="col-5 col-lg-4">
                    <div class="d-flex justify-content-center">
                        <button class="vms-btn-primary">SignUp</button>
                        <button class="vms-btn-primary-outline ml-2">SignIn</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>