<div class="container">
    <div class="vms-signup-container row" theme>
        <div class="col-12 vms-signup-container__title d-flex justify-content-center">
            <p>Check your Registration Status</p>
        </div>
        <form class="col-12 vms-signup-container__form" [formGroup]="regstatusForm">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-6 col-lg-5 vms-form__group field">
                    <input type="text" name="RegId" id="" class="form__field" placeholder="Enter Registration Id"
                        aria-describedby="helpId" maxlength="30" autocomplete="of" formControlName="RegId"
                        [ngClass]="{ 'is-invalid': submitted && f.RegId.errors }">
                    <label for="RegId" class="form__label">Enter Registration Id</label>
                    <div *ngIf="submitted && f.RegId.errors" class="invalid-feedback">
                        <div *ngIf="f.RegId.errors.required">Enter RegId is required</div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-12 vms-signup-container__actions">
            <button class="vms-btn-primary" (click)="onSubmit()">
                Submit
            </button>
        </div>
    </div>
</div>