<div class="container">
    <div class="row password-container justify-content-center">
        <form [formGroup]="skillsignupForm" class="col-12 vms-signup-container__form">
            <p class="col-12 password-container__title">Let's get started!</p>
            <!-- <div class="col-12 vms-form__group field">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-sm-8 col-md-9 col-lg-6 vms-form__group field">
                        <input type="text" class="form__field" placeholder="UserName" name="uname" id='uname'
                            formControlName="uname" autocomplete="off"
                            [ngClass]="{ 'is-invalid': submitted && f.uname.errors }" required />
                        <label for="uname" class="form__label">User Name</label>
                        <div *ngIf="submitted && f.uname.errors" class="invalid-feedback">
                            <div *ngIf="f.uname.errors.required">User Name is required</div>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="col-12 vms-form__group field">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-sm-8 col-md-9 col-lg-6 vms-form__group field">
                        <input type="text" class="form__field" placeholder="Email" name="Email" id='Email'
                            formControlName="email" autocomplete="off"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required />
                        <label for="Email" class="form__label">Email</label>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 vms-form__group field">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-sm-8 col-md-9 col-lg-6 vms-form__group field">
                        <input [type]="showPassword.password ? 'text' : 'password'" class="form__field"
                            placeholder="Password" name="Password" id='Password' formControlName="NewPassword"
                            [ngClass]="{ 'is-invalid': submitted && f.NewPassword.errors }" required />
                        <label for="Password" class="form__label">Password</label>
                        <span class="password-icon" (click)="showPassword.password = !showPassword.password">
                            <i class="fa" [ngClass]="{
                        'fa-eye-slash': !showPassword.password,
                        'fa-eye': showPassword.password
                      }"></i>
                        </span>
                        <div *ngIf="submitted && f.NewPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.NewPassword.errors.required">Enter New Password is required</div>
                            <div *ngIf="f.NewPassword.errors.pattern">Password must be at least 8 characters ,
                                alteast 1 letter and alteast 1 number
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 vms-form__group field">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-sm-8 col-md-9 col-lg-6 vms-form__group field">
                        <input [type]="showPassword.confirmPassword ? 'text' : 'password'" class="form__field"
                            name="ConfirmPassword" placeholder="Confirm password" id='ConfirmPassword'
                            formControlName="ConfirmPassword"
                            [ngClass]="{ 'is-invalid': submitted && f.ConfirmPassword.errors }" required />
                        <label for="ConfirmPassword" class="form__label">Confirm password</label>
                        <span class="password-icon"
                            (click)="showPassword.confirmPassword = !showPassword.confirmPassword">
                            <i class="fa" [ngClass]="{
                            'fa-eye-slash': !showPassword.confirmPassword,
                            'fa-eye': showPassword.confirmPassword
                          }"></i>
                        </span>
                        <div *ngIf="submitted && f.ConfirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.ConfirmPassword.errors.required">Enter Confirm Password is required</div>
                            <div *ngIf="f.ConfirmPassword.errors.mustMatch">Passwords must match</div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <div class="col-12 my-4 d-flex justify-content-center">
            <button class="vms-btn-primary" (click)="onSubmit(confirmPopup)">Continue</button>
        </div>
    </div>
</div>


<ng-template #confirmPopup>
    <div class="wizard-prompt" theme>
        <div class="wizard-img d-block">
            <img src="../../../../../assets/images/mail-icon.jpg" alt="mail-icon">
        </div>
        <div class="wizard-content">
            <p style="font-weight: 600;margin-bottom: 1.5rem;">A verification link has been sent
                to <b>{{this.emailId}}</b></p>
            <br>
            <p>Please click on the link to confirm your email address. If you dont see a message in your inbox, you may
                need to check your spam folder</p>
        </div>
        <div class="wizard-action">
            <div class="row justify-content-center">
                <p class="col-12">Still can't find the email?</p>
                <button class="vms-btn-primary my-4" (click)="onResend()">Resend Email</button>
            </div>
        </div>
        <p class="row justify-content-center">The verification link will expire after 24 hours</p>
    </div>
</ng-template>